@font-face {
    font-family: 'hp_simplifiedregular';
    src: url('../fonts/hpsimplified_rg_2-webfont.eot');
    src: url('../fonts/hpsimplified_rg_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hpsimplified_rg_2-webfont.woff') format('woff'),
         url('../fonts/hpsimplified_rg_2-webfont.ttf') format('truetype'),
         url('../fonts/hpsimplified_rg_2-webfont.svg#hp_simplifiedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hp_simplifiedlight';
    src: url('../fonts/hpsimplified_lt_2-webfont.eot');
    src: url('../fonts/hpsimplified_lt_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hpsimplified_lt_2-webfont.woff') format('woff'),
         url('../fonts/hpsimplified_lt_2-webfont.ttf') format('truetype'),
         url('../fonts/hpsimplified_lt_2-webfont.svg#hp_simplifiedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*BOLD*/
@font-face{
font-family: 'hp_simplifiedbold';
src: url('../fonts/hps-euro-w01-bold-eot.eot'); /* IE9 compat */ 
src: url('../fonts/hps-euro-w01-bold-eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
/* non-IE */ 
url('../fonts/hps-euro-w01-bold-woff.woff') format('woff'), /*IE9 and some modern browsers*/ 
url('../fonts/hps-euro-w01-bold-ttf.ttf') format('truetype'); /*iOS, Android, Safari*/

font-weight: bold;
font-style: normal;
}